.sidebar {
    flex: 0 0 360px; /* Flex-grow, flex-shrink, flex-basis */
    margin-right: -120px;
    padding: 20px; /* adjust padding as needed */
    margin-left: -230px; /* Push sidebar to the left */
    margin-top: 57px;
    border-left: 0px solid #333; /* Adjust color and size as needed */
    box-sizing: border-box; /* Ensures the border is included within the element's width */
    font-size: 14px; /* or any other size you prefer */
    padding-left: 50px;
    font-family: futura;

}

.sidebar > ul > li > ul {
    padding-top: 0;
    margin-top: -10px;
}

.sidebar > ul > li {
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    margin-bottom: 5px;
}

.sidebar ul ul {
    padding-left: 20px;
}
.sidebar ul ul li {
    font-size: 12px; /* Set the desired font size for submenu items */
  }

.sidebar li {
    list-style-type: none;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #e1e1e1;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    color: #999;  /* Lighter text color */
}
.sidebar li:hover,
.sidebar li.active {
    background-color: transparent; /* No background color on hover/active */
}

.sidebar li:hover {
    color: #333;  /* Darker text color on hover */
    background-color: transparent;
}

.sidebar li > ul > li.active::before, .sidebar li.active::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 20%;       /* Adjust as per your preference */
    bottom: 20%;    /* Adjust as per your preference */
    width: 4px;
    background-color: #007BFF;
}

.sidebar li.active {
    color: #333; /* Or your chosen active state text color */
}

form {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #e1e1e1;
}

fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

legend {
    font-weight: bold;
}

.arrow {
    display: inline-block;
    z-index: 1000;
    margin-left: 5px;
    transition: transform 0.3s;
    padding: 0 5px;
}

.collapsible .content {
    display: none;
}

.collapsible.active .content {
    display: block;
}

.collapsible.active .arrow {
    transform: rotate(-90deg);
}

.collapsible > span {
    position: relative;
    z-index: 2;
    padding-right: 5px;
}

.sidebar li > a, .sidebar li > span {
    position: relative;
    z-index: 3;     /* Setting z-index higher than the blue bar's pseudo-element */
}

.sidebar li > ul > li:first-child {
    margin-top: 30px; /* Adjust as needed */
}

.arc-form-content {
    display: flex;
    margin-left: 50;
    margin-right: auto;
    max-width: 1250px; /* Adjust the maximum width as needed */
    margin: 30px auto; /* Keep the top margin and center align the whole flex container */
    padding: 0; /* Remove padding if you're not using it */
    gap: 0px; /* This adds space between the sidebar and the content */
}

#arc-guidelines-content {
    flex-grow: 1; /* Allows the content to take the available space */
    max-width: 66%; /* Adjust as necessary, restricts the maximum width of the content */
    margin: 0 auto; /* Centers the content horizontally */
}



.welcome-content {
    font-family: futura;
    max-width: none;
    width: 50%;
    padding: 60px;
    margin: 0 auto;
    margin-top: 50px;
    padding-right: initial;
    padding: 60px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    font-weight: 160;
    background-color: #ffffff /* Or any other hex code you choose */

}
.section-title {
    font-size: 24px; 
    color: #242424    /* Darker color  */
}


.section-content a {
    color: #0066cc; /* Example link color */
    text-decoration: none; /* No underline */
}

.section-content a:hover {
    text-decoration: underline; /* Underline on hover, for instance */
    color: #0055bb; /* Darker color on hover */
}

/* Additional global adjustments */
.content-div p {
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
    /* You may apply other styling as needed here */
}

.intro-text, .content-div p {
    font-size: 1em;
    line-height: 1.6;
}
/* welcome content */
.intro-text {
    margin-bottom: 30px;
    color: #777;
    text-align: left;
}

.section {
    margin-bottom: 40px;
    text-align: left;
}



.thanks {
    margin: 0; /* remove margin from the p element */
    font-style: italic;
    color: #777;
}

.thanks-and-button {
    display: flex;
    align-items: center; /* vertically center the items */
    gap: 20px; /* add some space between the text and the button */
    padding-bottom: 10%;
    margin-bottom: 20px;
}


.start-button {
    border: none;
    padding: 10px 30px; /* Adjust padding to match your design */
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    color: #ffffff; /* White text for contrast */
    font-weight: bold;
    background-color: #007BFF; /* Bright, inviting color */
    border-radius: 5px;
    font-size: 20px; /* Adjust font-size as needed */
    margin: 4px 2px;
    text-decoration: none;
    font-family: futura;
}

.start-button:hover {
    background-color: #002244; /* A darker shade of the button color for hover state */ /* A darker shade for hover state */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}





.next-button:hover,
.prev-button:hover {
    background-color: #002244; /* A darker shade of the button color for hover state */ /* A darker shade for hover state */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.next-button:active,
.prev-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.content-div {
    flex-grow: 1; /* Allow the content to take the available space */
    padding: 20px;
    max-width: calc(100% - 300px); /* Adjust this value based on the sidebar's width */
    margin: 0 auto;
}

.content-div h2{
    padding-top: 5px;

}



#arc-guidelines-content,
.content-div {
    flex-grow: 1; /* Allow the content to grow and fill the available space */
    /* The width will now be controlled by the flex properties */
    padding-left: 20px; /* Add padding inside the content */
    margin-top: 40px; /* Adjust this value to move the container down */
}

/* Responsive behavior */
@media screen and (max-width: 768px) {
    .sidebar {
        flex: 0 0 150px; /* Adjust sidebar width for smaller screens */
    }

    .arc-form-content {
        flex-direction: column; /* Stack the sidebar and content on smaller screens */
    }

    #arc-guidelines-content,
    .content-div {
        padding: 0; /* You might want to remove padding on smaller screens */
    }
}

/* Adjustments for full-width screens */
@media screen and (min-width: 1200px) {
    .arc-form-content {
        padding: 0; /* Removes padding on larger screens for full-width content */
    }

    #arc-guidelines-content,
    .content-div {
        padding-left: 40px; /* Adjust the padding to match the layout on larger screens */
    }
}

#arc-guidelines-content,
.content-div {
    max-width: calc(100% - 240px); /* Assuming sidebar is 200px + 20px padding on each side */
}


/* Main content base styling */
.content-div {
    font-family: futura;
    color: #4a4a4a; /* A softer shade of black for better legibility */
    line-height: 1.6;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 2px;
}



.content-div .next-button:hover,
.content-div .prev-button:hover {
    background-color: #002244; /* A darker shade of the button color for hover state */ /* A darker shade for hover state */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*for smaller screens */
@media screen and (max-width: 768px) {
    .arc-form-content {
        flex-direction: column;
    }

    .sidebar,
    #arc-guidelines-content,
    .content-div {
        width: auto;
        padding: 10px;
    }


    .intro-text {
        font-size: 0.9em;
    }
}

.title {
    font-size: 2em; /* Larger for main title */
    margin-bottom: 0.5em;
}

.intro-text {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 1em;
    line-height: 1.6;
}
.section {
    margin-bottom: 2em;
}
.formatted-paragraph {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    /* Remove white-space: pre-wrap; to prevent indentation */
    margin-left: 0; /* Ensure there is no indentation */
    padding-left: 0; /* Ensure there is no padding causing indentation */
    text-indent: 0; /* Prevents first line from indenting in a paragraph */
}

.formatted-paragraph li {
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
}
